#ext_menu-0 .brand__name {
  font-size: 16px;
}
#ext_menu-0.navbar--stuck .navbar-section {
  background: #ffffff;
}
#ext_menu-7 .brand__name {
  font-size: 16px;
}
#ext_menu-7.navbar--stuck .navbar-section {
  background: #ffffff;
}
#header4-22 P {
  text-align: left;
  font-size: 17px;
}
#header4-22 H1 {
  font-size: 30px;
}
#msg-box4-16 .header__text {
  color: #000000;
}
#msg-box4-16 .header__subtext {
  color: #000000;
}
#msg-box4-16 .article {
  color: #ffffff;
}
#msg-box4-16 .article P {
  color: #7c706b;
}
#msg-box4-17 .header__text {
  color: #ffffff;
}
#msg-box4-17 .header__subtext {
  color: #ffffff;
}
#msg-box4-17 .article {
  color: #ffffff;
}
#ext_menu-19 .brand__name {
  font-size: 16px;
}
#ext_menu-19.navbar--stuck .navbar-section {
  background: #ffffff;
}
#ext_menu-31 .brand__name {
  font-size: 16px;
}
#ext_menu-31.navbar--stuck .navbar-section {
  background: #ffffff;
}
