.gallery-container, 
.gallery-container .col,
.gallery-container .admin-panel,
.gallery .modal-dialog, 
.gallery .modal-content, 
.gallery .modal-body, 
.gallery .carousel-inner, 
.gallery .item,
.tab-content,
.thumb-div
 {
 	height: 100%;
}

.gallery-footer {
	min-height: 65px;
}

.section {
	/* footer height */
	margin-bottom: -65px;
}

.gallery .modal-dialog, 
.gallery .modal-content, 
.gallery .modal-body, 
.gallery .carousel-inner, 
.gallery .item {
	width: 100%;
	margin: 0;
}

.gallery .item {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	overflow: hidden;
}

.gallery .gallery-item {
    position: relative;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
}
.gallery .gallery-item > a {
    position: relative;
    display: block;
    background: #fff;
    outline: none;
}
.gallery .gallery-row {
    margin: 0;
}
.gallery .gallery-item img {
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
        
    opacity: 1;
    -webkit-transition: .2s opacity ease-in-out;
    transition: .2s opacity ease-in-out;
    /* watch out for FF on OS-X 
	filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
  */ filter: gray; 
    -webkit-filter: grayscale(100%);
   
}
.gallery .gallery-item > a:hover img {
    opacity: 0.9;
    /*
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
    
    */-webkit-filter: grayscale(0%);
}
.gallery .gallery-item .glyphicon {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    color: #fff;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: .2s opacity ease-in-out;
    transition: .2s opacity ease-in-out;
}
.gallery .gallery-item > a:hover .glyphicon {
    opacity: 1;
}

/*
.gallery .container.gallery-layout-default {
    padding: 93px 0;
}

.gallery .gallery-layout-default,
.gallery .gallery-layout-article {
    overflow: hidden;
}

.gallery .gallery-layout-article > div {
    padding-left: 0;
    padding-right: 0;
}
*/


/* lightbox */
.gallery .modal {
    position: fixed;
    overflow: hidden;
    padding-right: 0 !important;
}
.gallery .modal-body {
    padding: 0;
}
.gallery .modal-body img {
    width: 100%;
}

.gallery .modal .close,
.gallery .modal .zoom,
.slider .carousel-control,
.hamburger
  {
    background-image: none;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 44px;
    opacity: 1;
    color: #292929;
    border: 0px solid #fff;
    text-align: center;
    text-shadow: none;
    z-index: 5;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.gallery .modal .close,
.gallery .modal .zoom {
	position: absolute;
	top: 20px;
}

.gallery .modal .zoom {
    right:69px;
}

.gallery .modal .close {
	right: 20px;
}

.glyphicon {
	color: #777;
	/*text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);*/
}

.gallery .modal .close:hover .glyphicon,
.gallery .modal .zoom:hover .glyphicon{
	text-shadow: none;
	color: #292929;
}


.gallery .modal .close:hover,
.gallery .modal .zoom:hover,
.hamburger:hover {
	background-color: rgba(255, 255, 255, 1);
    color: #000;
}

.indicator-text {
    position: absolute;
    height: 36px;
    width: 120px;
    margin-left: -60px;
    float: right;
    color: #292929;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 9;
    bottom: 0;
    text-align: center;
    font-size: 16px;
    line-height: 36px;
    opacity: 1;
    /*border: 2px solid #fff;*/
    text-align: center;
    text-shadow: none;
    z-index: 5;
    cursor:default;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;	
}

/* modal back color opacity */
.modal-backdrop.in {
	background-color: #292929;
    opacity: 1;
    filter: alpha(opacity=100);
}

@media (max-width: 768px) {
    .gallery .modal-dialog {
        margin: 10px auto;
    }

    .gallery .carousel-indicators,
    .gallery .carousel-control,
    .gallery .modal .close {
        position: fixed;
    }
}

/* fix fade in effect */
.gallery .modal.fade .modal-dialog {
    margin-top: -100px;
    -webkit-transition: margin-top 0.3s ease-out;
    -moz-transition: margin-top 0.3s ease-out;
    -o-transition: margin-top 0.3s ease-out;
    transition: margin-top 0.3s ease-out;
}
.gallery .modal.in .modal-dialog,
.gallery .modal.fade .modal-dialog {
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}
.gallery .modal.in .modal-dialog {
    margin-top: 30px;
}

.contain-image, .cover-image, .contain-image {
	overflow: hidden;
}

.contain-image, .contain-image img, .cover-image, .cover-image img {
	background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
	background-repeat: no-repeat;
	background-position: center;
}

.contain-image, .contain-image img {
	background-size:contain; !important
}

.cover-image, .cover-image img{
	background-size:cover; !important
}

.gallery .gallery-item > a {
	background: transparent; !important
}

/* admin panel */

.admin-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 5px;
	background-color: #000;
}

.admin-header .nav-tabs {
	padding-left: 5px;
	border-color: #292929;	
}

.admin-header .nav-tabs a {
	color: #ccc;
}

.admin-header .nav-tabs>li.active>a{
	color: #eee;
	background-color: #292929;
		border-color: #292929;
}

.admin-header .nav-tabs>li:hover>a{
	color: #eee;
	background-color: #292929;
		border-color: #292929;
}

.admin-panel {
	background-color: #292929;
	color: #eee;
}


.admin-panel .navbar:before, 
.admin-panel .navbar__container {
    height: auto; !important
}

.selected-image {
	border: 2px solid red;
}

#blurImageFrame img {
	width: 100%;
}

.rangeslider {
	margin-top:20px;	
	background: #e6e6e6;
}

.tab-content {
    margin: 0;
    padding-bottom: 50px	
}
.tab-content, .overflow-auto {
	overflow: auto; !important
}

.td_ign, .td_del {
	width: 60px;
	text-align: center;
}

.success {
	color: #333;
}

.sortable-placeholder {
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
}

