#slider-wrapper,
.admin-header,
#login-screen,
#effect-fullscreen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#slider-wrapper,
#effect-fullscreen,
#effect-fullscreen-image {
	height: 100%;
}

#blur-image-frame,
.placeholder-item {
	background-color: #444;
	background-image: url('placeholder.svg');
	background-repeat: no-repeat;
	background-position: center;
}

#blur-image-frame {
	text-align: center;
	max-height: 500px;
	background-size: 128px;
	cursor: pointer;
}

.placeholder-item {
	background-size: 64px;
}

#blur-image-frame img {
	width: 100%;
}

#slider-wrapper {
	z-index: 11;
}

#effect-fullscreen {
	text-align: center;
	z-index: 12;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
	cursor: pointer;
}

.selected-image {
	border: 2px solid red;
}

#file-table {
	table-layout: fixed;
}
.th-thumb {
	width: 80px;
}
.th-name {
	width: 200px;
}
.td-file-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* admin panel */

.admin-header {
	padding-top: 5px;
	background-color: #000;
}

.admin-header .nav-tabs {
	padding-left: 5px;
	border-color: #292929;
}

.admin-header .nav-tabs a {
	color: #ccc;
}

.admin-header .nav-tabs > li.active > a {
	color: #eee;
	background-color: #292929;
	border-color: #292929;
}

.admin-header .nav-tabs > li:hover > a {
	color: #eee;
	background-color: #292929;
	border-color: #292929;
}

.admin-panel {
	background-color: #292929;
	color: #eee;
}

.admin-panel .navbar:before, .admin-panel .navbar-container {
	height: auto !important;
}

.tab-content {
	margin: 0;
	padding-bottom: 50px
}
.tab-content, .overflow-auto {
	overflow: auto !important;
}

/* login */

#login-screen {
	z-index: 999;
	height: 100%;
	background-color: #ccc;
}
.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

/* admin panel */
.admin-header {
	padding-top: 5px;
	background-color: #000;
}

.admin-header .nav-tabs {
	padding-left: 5px;
	border-color: #292929;
}

.admin-header .nav-tabs a {
	color: #ccc;
}

.admin-header .nav-tabs > li.active > a {
	color: #eee;
	background-color: #292929;
	border-color: #292929;
}

.admin-header .nav-tabs > li:hover > a {
	color: #eee;
	background-color: #292929;
	border-color: #292929;
}

.admin-panel .navbar:before, .admin-panel .navbar-container {
	height: auto !important;
}

.navbar-container, .after-navbar::before {
    height: 47px !important;
}

.selected-image {
	border: 2px solid red;
}

.rangeslider {
	margin-top: 20px;
	background: #e6e6e6;
}

.td-index {
	width: 50px;
}

.td-ign, .td-del, .td-scn {
	width: 60px;
	text-align: center;
}

.success {
	color: #333;
}

#slider-sortable {
	min-height: 89px;
}

#slider-sortable .thumb-div {
	cursor: pointer;
}

.sortable-placeholder {
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
}

#slider-panel label {
	width: 100%;
	float: none;
}

#slider-number-select,
#slider-interval-select  {
	width: auto;
	max-width: 50%;
	float: left;
}

#slider-auto-btn {
	margin-left: 6px;
}

.label2 {
	display: inline-block;
	width: auto;
	color: inherit;
	background-color: inherit;
	border: 0;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
}

.rangeslider__fill {
	background-color: #337ab7;
}

button .glyphicon {
	color: #fff;
}
