html, body {
	height: 100%;
	min-height: 100%;
	overflow: -moz-scrollbars-none;
}

.noselect {
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;	
}

.no-scroll {
	height: 100%;
	overflow: hidden;
	overflow: -moz-scrollbars-none;
}

.navbar-spacer {
	background-color: #fff;
    height: 65px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}

.footer-spacer {
	height: 65px;
}

.scroll-wrapper {
	overflow: auto !important;
	height: 100%;
	-webkit-overflow-scrolling: touch;
}

.modal-open .scroll-wrapper {
	overflow: hidden !important;
}

::-webkit-scrollbar { display: none; }

a {
	color: #000;
}

a:hover, a:focus {
	color: #9c9c9c;
}

.btn {
	padding: 6px 14px;
}

.hamburger {
    cursor: pointer;
}

.navbar--transparent .hamburger {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.hamburger--open.hamburger,
.hamburger--open .glyphicon-menu-hamburger {
    box-shadow: none;
}

.hamburger--open .glyphicon-menu-hamburger ,
.hamburger .glyphicon-remove  {
	display: none;
}

.hamburger--open .glyphicon-remove {
	display: table !important;
}

.navbar__hamburger {
    display: none;
    margin-top: -18px;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 10000;
}

.hamburger__line {
	margin: 5px 2px 0px 2px;
}

.ifx-button {
	font-weight: bold;
    position: relative;
    display: block;
    text-decoration: none;
    margin: 0 10px 13px 0;
    padding: 8px 15px !important;
    line-height: 1.5 !important;
}

.bootstrap-select {
	float: right !important;
}

@media (max-width: 768px){
	.gallery-footer .navbar__item {
		float: none;
	}
}

.bg-transparent {
	background: transparent;
}
.bg-red {
	background-color: #e60000;
}

.btn-default {
	background-color: #ffffff;
	border-color: #ffffff;
}

.btn-default.active {
	background-color: #e60000;
	border-color: #e60000;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#logobox2 {
	z-index: 9999;
	visibility: visible !important;
}

.modal-open #logobox2 {
	display: block !important;
}

.modal-open .navbar{
	display: none;
}

.modal-open .navbar__section {
	background: transparent;
}

.modal-open .navbar__hamburger,
.modal-open .navbar__menu {
	display: none;
}

.slider .carousel-indicators li, 
.slider .carousel-indicators .active 
	border: 0;
}

.slider .carousel-control {
	border: 0;
	
}

.carousel-indicators li{
	border-radius: 0;
	/*background-color: #ccc;
	opacity: 0.7;
	*/
	background-image: url(../images/fff50.png);
	border: 0;
}

.slider .carousel-indicators .active{
	background-color: #fff;
	border: 0;
	opacity: 1;
}

.control-wrapper {
	position: absolute;
	opacity: 1;
	background-color: transparent;
    width: 35%;
    height: 50%;
    top: 50%;
    z-index: 5;
}

.control-wrapper:hover {
	opacity: 1;
}

.cw-right {
	left: auto;
	right: 0;
};
.cw-left {};

.slider .carousel-control {
	border: 0;
	/*background-image: url(../images/fff50.png);
	background-repeat: repeat;*/
	background-color: #fff;
	opacity: 0;
	color: #000;
}

.buttons__link {
	color: #777;
	background-color: rgba(255, 255, 255, 0.5);
	/*text-shadow: 0px 0px 2px rgba(255,255,255,1);*/
}

.buttons__link:hover {
	color: #292929;
	background-color: rgba(255, 255, 255, 1);
}

.navbar--transparent .buttons__link {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.navbar {
	z-index: 9999;
}

.hero {
	padding: 40px 0;
}

#logobox {
	z-index: 99;
}

#logobox, #logobox2 {
	background-color: #fff;
    position: absolute;
    top: 0;
    display: table;
    margin: 0 auto;
    text-align: center;
}

.logobox {
    height: 70px;
    width: 70px;	
}

.navbar--short .logobox{
	height: 70px;
	width: 70px;
}

/*
#page3 .modal-dialog, 
#page3 .modal-content, 
#page3 .modal-body, 
#page3 .carousel-inner, 
#page3 .item {
	width: 100%;
	height: 100%;
	margin: 0;
}

#page3 .item {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
*/

.bg-cover {
	background-size: cover !important;
}

.slider.in {
	padding: 0!important;
}

@media (max-width: 767px) {
	.navbar--short .logobox{
		height: 48px;
		width: 48px;
	}
	
	.hero {
		padding: 110px 0 60px 0;
	}
}

.logo-wrapper {
	position: absolute;
    bottom: 0;
    width: auto;
    background-color: #fff;
    height: auto;
    display: table-cell;
    text-align: center;
    margin:5px;
}

.ca-navlogo {
	height: 50px;
}

#main {
	background-color: #fff;
	min-height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.modal-content {
	background-color: transparent; 
}

.page {
	background-color: #fff;
	min-height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.page-inactive {
	display: none;
}

.page-animate {
	height: 100%;
	overflow: hidden;
}

.p1 {
	cursor: pointer;
}

.hidden {
	visibility: hidden;
}

.height100 {
	height: 100%; !important
	overflow: hidden;
}
#page2 {
	background-image: url(../images/0006.jpg);
	background-repeat: no-repeat;
	background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.page2-overlay {
	opacity: 0.7;
}

.arrow {
	display: none;
}

.overlay-grey {
	opacity: 0.7;
	background-color: #292929;
}

.overlay-red {
	opacity: 0.7;
	background-color: #e60000;
}

.text-white {
	color: #eeeeee;
}
#page2 .section--full-height {
  height: 100%;
}

#arbeiten {
	height: 100%;
}

.gallery-footer, .navbar-fixed-bottom {
	background-color: rgb(239, 239, 239);
}

.gallery-footer .navbar:before, .navbar__container {
	height: 0;
}

.navbar__container, .after-navbar:before {
	height: 64px;
}

#page2 .navbar__container, 
#page2 .after-navbar:before {
	height: 0px !important;
}

.box--stretched {
	height: 100vH !important;	
}

.img-inactive {
	display: none;
}

.img-hidden {
	visibility: hidden;
}

.brand {
	z-index: 9999;
}


.fb-icon {
	width: 35px;
	height: 35px;
}

.btn-danger.active, 
.btn-danger.focus, 
.btn-danger:active,
.btn-danger:focus, 
.btn-danger:hover, 
.open>.dropdown-toggle.btn-danger {
    color: #252525;
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
 }

/* shadows */

.box-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}
.box-shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12)
}
.box-shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}
.box-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}
.box-shadow--8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
}
.box-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}

@media (max-width: 767px){
	.contact-adress{

	}
	.contact-map {

	}
	
	
	
}
